/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

body{
	width: 100%;
}

.header-container{
	text-align: center;
}

.body-container{
	text-align: center;
}

#main{
	padding: 10px;
	background-color: white;
}

#headingDetailPage{
	font-size: xx-large;
	text-align: center;
	margin-top: 20px;
}

#descriptionDetailPage{
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}

#monthInformationDetailPage{
	text-align: center;
	margin-top: 20px
}

#allMonths{
	display: flex;
}

#firstSix{
	width: 50%;
}

#lastSix{
	width: 50%;
}

#informationDetailPage{
	display: flex;
	margin-top: 20px;
}

#amountDetailPage{
	width: 50%;
	text-align: center
}

#lastTimeDetailPage{
	width: 50%;
	text-align: center;
}


#updateButtonDetailPage{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 80%;
	margin-left: 10%;
	cursor: pointer;
	margin-top: 78px;
}

#eatButtonDetailPage{
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 80%;
	margin-left: 10%;
	cursor: pointer;
	margin-top: 20px;
}

#removeEatenButtonDetailPage{
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 80%;
	margin-left: 10%;
	cursor: pointer;
	margin-top: 20px;
}

#removeMealButtonDetailPage{
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 80%;
	margin-left: 10%;
	cursor: pointer;
	margin-top: 20px;
}

.detailPageCheckbox{
	zoom: 1.5
}

.detailPageCheckboxMealType{
	zoom: 1.5;
	margin-top: 20px
}

#nameInputField{
	width: 70%;
	margin-right: 10%;
}

#descriptionInputField{
	width: 70%;
	margin-top: 10px;
	margin-right: 10%;
}

#saveChangeButton{
	width: 20%;
	margin-top: 10px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	min-height: 35px;
}

#editButton{
	width: 20%;
	margin-top: 10px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	min-height: 35px;
	float: right;
}

#navigateBackButton{
	width: 20%;
	margin-top: 10px;
	background-color: #008CBA;
	color: white;
	cursor: pointer;
	min-height: 35px;
	float: left;
}

#removeChangeButton{
	width: 20%;
	background-color: red;
	color: white;
	cursor: pointer;
	min-height: 35px;
}

#headingBoxDetailPage{
	display: flow-root;
}

#headingCreatePage{
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#oneMealRecommendationPage{
	background-color: lightgrey;
	margin-top: 20px;
}

#nameMealRecommendationPage{
	font-weight: bold;
	font-size: 15px;
}

#amountRecommendationPage{
	font-size: 15px;
	width: 30%;
	text-align: center;
}

#lastTimeRecommendationPage{
	font-size: 15px;
	width: 30%;
	text-align: right;
	margin-right: 5%;
}

#eatButtonRecommendationPage{
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 30%;
	cursor: pointer;
}

#recoverButtonDeletedPage{
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 30%;
	cursor: pointer;
}

#detailButtonRecommendationPage{
	background-color: #555555;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	width: 30%;
	cursor: pointer;
}

#firstLineRecommendationPage{
	display: inline-flex;
	width: 100%;
}

#lastLineRecommendationPage{
	display: inline-flex;
	margin-top: 5px;
	width: 100%;
}

#upperBoxRecommendationPage{
	width: 65%;
	text-align: center;
}

#headingRecommendationPage{
	font-size: 20px;
	text-align: center;
}

#searchFieldAllMealPage{
	width: 70%;
	margin-top: 10px;

}

#headingAndLogoAllMealsPage{
	width: 100%;
	display: inline-flex;
}

#logoAllMealsPage{
	width: 10%;
}

#homeImage{
	background: url(./images/startpage.jpg) no-repeat bottom center;
	width: 100%;
	height: 200px;
	background-size: cover;
}

#firstLineDeletedPage{
	display: inline-flex;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}


@media only screen and (min-width: 1201px){

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	#mobileMenuWrapper{
		display: none
	}

	#lastSideButton{
		float: left;
		min-height: 100px;
		cursor: pointer;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		outline:none;
		position: relative;
		width: 10%;
	}

	#nextSideButton{
		float: right;
		min-height: 100px;
		cursor: pointer;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: none;
		outline:none;
		position: relative;
		width: 10%;
	}

	#iFrameVideo{
		margin-top: -13%;
		width: 560px;
		height: 315px
	}

	#LogoText{
		font-size: 80px;
	}

	body
	{
	}

	body,input,textarea,select
	{
	}

	header
	{
		margin-bottom: 1.6em;
	}

		header h2
		{
			font-size: 3.4em;
		}

		header .byline
		{
			font-size: 1.7em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: flex;
	}

	.homepage #header
	{
		padding: 16em 0 12em 0;
	}
}

@media screen and (min-width: 501px){
	#header
	{
		position: relative;
		background: url(./images/header1.jpg) no-repeat bottom center;
		background-attachment: fixed;
		background-size: cover;
		text-align: center;
	}

	#MobileHeading{
		display: none
	}
}


@media screen and (max-width: 500px){

	#mobileMenuWrapper{
		position: fixed;
		width: 100%;
		height: 44px;
		top: 0px;
		background-color: black;
	}

	#mobilMenuSpan{
		cursor: pointer;
		position: absolute;
		height: 60px;
		width: 80px;
		top: 0;
		left: 0
	}



	#mobileMenuIcon{
		position: absolute;
		top: 15px;
		height: 12px;
		width: 20px;
		left: 10px;
		opacity: 0,5;
		background: url('./images/toggle.svg')
	}

	#mobileMenu{
		backface-visibility: hidden;
		transition: -webkit-transform 0.25s ease-in-out 0s;
		z-index: 10000;
		position: fixed;
		display: block;
		overflow-y: scroll;
		top: 0px;
		left: 0px;
		width: 256px;
		height: 100%;
		background-color: #1f1f1f;
	}

	#MobileHeading{
		color: white;
		font-size: large;
		text-align: center;
	}

	.mobileMenuPoint{
		cursor: pointer;
		height: 50px;
		list-style-type: none;
	}

	.mobileMenuLink{
		color: white;
		font-size: large;
	}


#lastSideButton{
	display: none
}

#nextSideButton{
	display: none
}


header
{
	margin-bottom: 1.6em;
}

	header h2
	{
		font-size: 2em;
	}

	header .byline
	{
		font-size: 1.2em;
	}

#navPanel
{
	background: #1f1f1f;
}

	#navPanel .link
	{
		display: block;
		color: #888;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border-top: solid 1px;
		border-color: rgba(255,255,255,.05);
		padding: 0 1em 0 1em;
		letter-spacing: 1px;
	}

		#navPanel .link:first-child
		{
			border-top: 0;
		}

		#navPanel .link.depth-0
		{
			color: #fff;
		}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #fff; }

#header
{
	height: 3em;
	padding: 0;
	background-position: center center;
	background-attachment: scroll;
}


#logo
{
	display: none;
}


#nav
{
	display: none;
}

#tweet
{
	padding: 3em 0em 1em 0em;
	background-position: center center;
	background-attachment: scroll;
}

#tweet blockquote
{
	margin: 0;
	padding: 1em 1em;
	font-size: 1.2em;
}

.\34 u { width: 100% }
.\36 u { width: 100% }

}
